<div class="select">
  <div class="select__title">Сортировать</div>
  <select class="select__input" name="products-sort">
    <option value="priceAsc">По возрастанию цены</option>
    <option value="priceDesc">По убыванию цены</option>
    <option value="ratingAsc">По возрастанию рейтинга</option>
    <option value="ratingDesc">По убыванию рейтинга</option>
  </select>
</div>