<header class="header <%= locals && locals.page %>">
  <div class="header__container container">
    <a class="logo" href="/">
      <h1 class="logo__title">Cozy House</h1>
      <div class="logo__subtitle">
        Shelter for pets in Boston
      </div>
    </a>
    <nav class="header__menu-container">
      <ul class="header-menu">
        <li class="header-menu__item">
          <a href="./#about" class="header-menu__link <% if (locals.page === 'header_main') { %> header-menu__link_active <% } %>">About the shelter</a>
        </li>
        <li class="header-menu__item">
          <a href="./pets.html" class="header-menu__link <% if (locals.page === 'header_pets') { %> header-menu__link_active <% } %>"">Our pets</a>
        </li>
        <li class="header-menu__item">
          <a href="./#help" class="header-menu__link">Help the shelter</a>
        </li>
        <li class="header-menu__item">
          <a href="#footer" class="header-menu__link">Contacts</a>
        </li>
      </ul>
  
      <div class="burger">
        <span class="burger__line"></span>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
      </div>
    </nav>
  </div>
</header>