<div class="pet-card">
  <div class="pet-card__img-container">
    <img src="<%= locals.img %>" alt="charly">
  </div>
  <h3 class="pet-card__title"><%= locals.name %></h3>
  <button class="pet-card__button button">Learn more</button>
</div>