* {
  box-sizing: border-box;
}

body {
  color: #fff;
  background: #17181c;
  font-family: sans-serif;
  margin: 0;
}

.button {
  padding: 1rem;
  border: 1px solid #30c5ff;
  background-color: transparent;
  outline: none;
  border-radius: 0.5rem;
  transition: 0.25s;
  cursor: pointer;
  font: inherit;
  color: #70d6ff;
}

@media (hover: hover) {
  .button:hover {
    color: #1d7597;
  }
}

.button:active {
  border-color: #1d7597;
  color: #1d7597;
}

.rsschool-logo {
  display: block;
  width: 120px;
}

.rsschool-logo .st0,
.rsschool-logo .st1,
.rsschool-logo .st2,
.rsschool-logo .st3,
.rsschool-logo .st4,
.rsschool-logo .st5,
.rsschool-logo .st6,
.rsschool-logo .st8,
.rsschool-logo .st9 
{
  fill: #333;
  stroke: #444;
}

.rsschool-logo .st1 {
  fill: #333;
}
  
.rsschool-logo .st7 {
  fill: #70d6ff;
}

.rsschool-logo .logo-path {
  fill: #70d6ff;
  stroke: #444;
  stroke-width: 4px;
  transition: 0.1s ease-in;
}
