body {
  color: #fff;
  background: #17181c;
  font-family: sans-serif;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

header h1 {
  font-size: 40px;
  font-weight: 800;
  margin: 0;
}

footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .copyright {
  font-size: 14px;
  color: #333;
  text-align: center;
}

footer .copyright a {
  color: #444;
}

footer .copyright a:hover {
  color: #555;
}

footer .copyright:before {
  content: '©';
}

.button {
  padding: 1rem;
  border: 1px solid #30c5ff;
  background-color: transparent;
  outline: none;
  border-radius: 0.5rem;
  transition: 0.25s;
  cursor: pointer;
  font: inherit;
  color: #70d6ff;
}

@media (hover: hover) {
  .button:hover {
    color: #1d7597;
  }
}

.button:active {
  border-color: #1d7597;
  color: #1d7597;
}

@media (max-width: 950px) {
  header {
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
  }
}