<%- require('../../templates/head.ejs')() %>
<body>
  <div class="container">
    <%- require('../../templates/header.ejs')() %>
    <main class="main">
      <%- require('./pets.ejs')() %>
    </main>
    <%- require('../../templates/footer.ejs')() %>
  </div>
</body>
</html>