<%- require('../../templates/head.ejs')() %>
<body>
  <%- require('../../templates/header.ejs')({page: 'header_pets'}) %>
  <%- require('./pets.ejs')() %>
  <%- require('../../templates/footer.ejs')() %>
</body>
</html>