<section class="pets section" id="pets">
  <div class="pets__container container">
    <h2 class="section__header">Our friends who<br>are looking for a house</h2>
    <div class="section__content">
      <div class="pets__paginator pets-paginator" data-slider="root">
        <div class="pets-paginator__container" data-slider="container">
        </div>
        <div class="pets-paginator__controls">
          <button class="button button_circle button_circle-inactive" data-slider="first">&lt;&lt;</button>
          <button class="button button_circle button_circle-inactive" data-slider="prev">&lt;</button>
          <button class="button button_circle button_circle-active" data-slider="slide-number">1</button>
          <button class="button button_circle" data-slider="next">&gt;</button>
          <button class="button button_circle" data-slider="last">&gt;&gt;</button>
        </div>
      </div>
    </div>
  </div>
</section>
