.control-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__create-car,
  &__update-car,
  &__buttons-group {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    margin-bottom: 0.5rem;
  }
}