:root {
  --footer-height: 100px;
  --header-height: 100px;
  --footer-margin-top: 2rem;
  --rss-logo-size: 120px;
  --content-width: 1440px;
  --content-padding: 20px;

  --primary-color-1: #2264D1;
  --primary-color-2: #9DC2FF;
  --primary-color-3: #2979FF;

  // --secondary-color-1: rgba(255, 165, 0, 0.9);
  --secondary-color-1: orange;
  --secondary-color-2: #F44336;

  --text-color-1: #000000;
  --text-color-2: #19191D;
  --text-color-3: #5E6366;
  --text-color-4: #787885;


  --bg-color: #ffffff;
  --radio-bg-color: #EBF2FF;

  --main-font-family: 'Inter', sans-serif;
  --button-font-family: 'Roboto', sans-serif;
  --special-font-family: 'Quicksand', sans-serif;
}

*, h1, h2, h3 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text-color-1);
  background: var(--bg-color);
  font-family: sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--primary-color-1);
}

ul {
  list-style: none;
}

#app {
  min-height: 100vh;
  position: relative;
  padding-bottom: calc(var(--footer-height) + var(--footer-margin-top));
}

.container {
  max-width: calc(var(--content-width) + 2 * var(--content-padding));
  padding: 0 var(--content-padding);
  margin: 0 auto;
}

.checkbox,
.button,
.radio,
.range,
.select {
  display: block;
  outline: none;
  padding: 6px 12px;
  background-color: transparent;
  line-height: 26px;
  border-radius: 4px;
  transition: 0.25s;
  cursor: pointer;
  color: var(--primary-color-1);
  font-family: var(--button-font-family);
  font-size: 0.875rem;
  font-weight: 700;
}

.checkbox,
.radio {
  border: 1px solid var(--primary-color-2);
}

.checkbox {
  display: flex;
  align-items: center;

  input {
    display: none;
  }
  
  input:checked ~ .checkbox__check::after {
    content: "✓";
  }

  input:checked ~ .checkbox__check {
    border-color: var(--primary-color-1);
    color: var(--primary-color-1);
  }

  &__check {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid var(--text-color-4);
    margin-right: 1rem;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      display: inline-block;
      text-align: center;
      line-height: 18px;
    }
  }
}

.button {
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2), 0px 4px 8px rgba(41, 121, 255, 0.2);

  &_special {
    font-family: var(--special-font-family);
    font-size: 20px;
  }

  &_icon {
    font-size: 1.125rem;
    padding: 0;
    line-height: 40px;
    text-align: center;
    width: 40px;
    height: 40px;
  }
}

@media (hover: hover) {
  .button:hover,
  .checkbox:hover {
    color: var(--secondary-color-1);
  }

  .checkbox:hover {
    border-color: var(--secondary-color-1);
  }
}

.button:active {
  color: var(--primary-color-2);
  box-shadow: none;
  border: 1px solid var(--primary-color-2)
}

@media (max-width: 550px) {
  :root {
    --rss-logo-size: 100px;
  }
}