<div class="radio-group">
  <label class="radio-group__item radio">
    <input type="radio" name="products-view" value="list" checked>
    <div class="radio__button">
      <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10 7V11H22V7H10ZM10 21H22V17H10V21ZM10 16H22V12H10V16ZM5 11H9V7H5V11ZM5 21H9V17H5V21ZM5 16H9V12H5V16Z"/>
      </svg>          
    </div>
  </label>
  <label class="radio-group__item radio">
    <input type="radio" name="products-view" value="grid">
    <div class="radio__button">
      <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5 13H13V5H5V13ZM5 23H13V15H5V23ZM15 23H23V15H15V23ZM15 5V13H23V5"/>
      </svg>
    </div>
  </label>
</div>