.cars-list {
  
  &__item {
    
  }
}

.car {
  position: relative;

  &__header {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &__track {
    display: flex;
    margin-bottom: 1rem;
    border-bottom: 2px dashed var(--primary-color-1);
  }

  &__controls {
    display: flex;
    align-items: flex-start;
    column-gap: 0.5rem;
    width: 100px;
  }

  &__img {
    width: 60px;
    display: flex;
    align-items: flex-end;

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}