.products__display-options {
  max-width: 120px;
  flex-grow: 1;

  .radio-group {
    &__form {
      display: flex;
      background: var(--radio-bg-color);
      border-radius: 4px;
      height: 36px;
    }
    
    &__item {
      padding: 0;
      border: none;
      flex-grow: 1;
      min-width: 40px;
    }
  }

  .radio__button {
    border: none;
    padding: 4px 0;
    height: 36px;
    text-align: center;

    svg {
      display: inline-block;
      fill: var(--text-color-4);
    }
  }

  input {
    display: none;
  }

  input:checked ~ .radio__button {
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2), 0px 4px 8px rgba(41, 121, 255, 0.2);
    background-color: var(--bg-color);
    border-radius: 4px;
    cursor: default;

    svg {
      fill: var(--primary-color-3);
    }
  }
}