.about {

  &__container {
    display: flex;
  }

  &__pets {
    flex-basis: 49.58%;
    display: flex;
    justify-content: flex-end;
    padding-right: 119px;

    img {
      display: block;
    }
  }

  &__text {

    padding-top: 15px;

    p {
      max-width: 430px;
      margin-top: 25px;

      font-size: 15px;
      line-height: 24px;
      color: var(--color-dark-xl);
    }
  }
}

@media (max-width: $adaptive-width-pc) {
  .about {
    &__container {
      flex-direction: column-reverse;
      align-items: center;
    }

    &__pets {
      flex-basis: 408px;
      height: 408px;
      padding-right: 0px;
      align-items: center;

      img {
        height: 100%;
      }
    }
  
    &__text {
      max-width: 437px;
      margin-bottom: 80px;
      padding-top: 0px;
    }
  }
}

@media (max-width: $adaptive-width-tablet) {
  .about {
    
    &__pets {
      flex-basis: 354px;
      height: 354px;
    }

    &__text {
      margin-bottom: 42px;
      padding: 0 15px;
      text-align: justify;
    }
  }
}

@media (max-width: $adaptive-width-phone) {

}