.about {

  &__container {
    display: flex;
  }

  &__pets {
    flex-basis: 49.58%;
    display: flex;
    justify-content: flex-end;
    padding-right: 119px;

    img {
      display: block;
    }
  }

  &__text {

    padding-top: 15px;

    p {
      max-width: 430px;
      margin-top: 25px;

      font-size: 15px;
      line-height: 24px;
      color: var(--color-dark-xl);
    }
  } 
}