.about {
  display: flex;

  &__pets {
    flex-basis: 595px;
    display: flex;
    justify-content: center;

    img {
      display: block;
    }
  }

  &__text {

    p {
      max-width: 430px;
      margin-top: 25px;

      font-size: 15px;
      line-height: 24px;
      color: var(--color-dark-xl);
    }
  } 
}