:root {
  --color-primary: #F1CDB3;
  --color-primary-light: #FDDCC4;
  --color-dark-s: #CDCDCD;
  --color-dark-m: #B2B2B2;
  --color-dark-l: #545454;
  --color-dark-xl: #4C4C4C;
  --color-dark-2xl: #444444;
  --color-dark-3xl: #292929;
  --color-light-s: #FAFAFA;
  --color-light-l: #F6F6F6; 
  --color-light-xl: #FFFFFF;
  
  --main-font: 'Arial Regular', sans-serif;
  --main-font-italic: 'Arial Italic', sans-serif;

  --header-font: 'Georgia Regular', sans-serif;
  --header-font-italic: 'Georgia Italic', sans-serif;

  --container-width: 1200px;
  --container-padding: 40px;
  --header-height: 60px;
  --footer-height: 350px;
  
  --font-size: 15px;
}

$adaptive-width-pc: 1279px;
$adaptive-width-tablet: 767px;
$adaptive-width-phone: 319px;

@media (max-width: $adaptive-width-pc) {
  :root {
    --container-padding: 30px;
  }
}

@media (max-width: $adaptive-width-tablet) {
  :root {
    --container-padding: 10px;
  }
}

@media (max-width: $adaptive-width-phone) {

}