@font-face {
  font-family: "Arial Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/arial/arial-regular.ttf") format("ttf");
}

@font-face {
  font-family: "Arial Italic";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/arial/arial-italic.ttf") format("ttf");
}

@font-face {
  font-family: "Georgia Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/georgia/georgia-regular.ttf") format("ttf");
}

@font-face {
  font-family: "Georgia Italic";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/georgia/georgia-italic.ttf") format("ttf");
}