.footer {
  display: flex;
  padding-top: 56px;

  height: var(--footer-height);
  background: url("../assets/pictures/footer-puppy.png") no-repeat bottom right var(--container-padding),
              url("../assets/pictures/hero/noise_transparent@2x.png"),
              radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%),
              #211F20;
}

.footer-info {
  max-width: 302px;
  margin-right: 13.33%;

  &__title {
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: var(--color-light-xl);
  }

  &__row {
    height: 32px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    text-decoration: none;

    &-icon {
      height: 100%;
      margin-right: 20px;

      svg {
        fill: var(--color-primary);
      }
    }

    &-content {
      font-family: var(--header-font);
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0.06em;

      color: var(--color-primary);
    }
  }
}