.footer {
  height: var(--footer-height);
  background: url("../assets/pictures/hero/noise_transparent@2x.png"),
              radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%),
              #211F20;

  &__container {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  &__info-container {
    flex: 0 1 741px;
    display: flex;
    justify-content: space-between;
    padding-top: 56px;
  }

  &__dog {
    flex: 0 0 300px;
    align-items: flex-end;
    background: url("../assets/pictures/footer-puppy.png") no-repeat bottom right;
  }
}

.footer-info {
  max-width: 302px;

  &__title {
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: var(--color-light-xl);
  }

  &__row {
    height: 32px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: 0.2s;
    color: var(--color-primary);
    
    svg {
      fill: var(--color-primary);
    }

    &:hover {
      color: var(--color-light-xl);

      svg {
        fill: var(--color-light-xl);
      }
    }
    
    &-icon {
      height: 100%;
      margin-right: 20px;
    }

    &-content {
      font-family: var(--header-font);
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0.06em;      
    }
  }
}

@media (max-width: $adaptive-width-pc) {
  .footer {

    height: auto;

    &__container {
      flex-direction: column;
    }

    &__info-container {
      flex-basis: auto;
      padding: 0 15px;
      padding-top: 30px;
      justify-content: space-around;
    }

    &__dog {
      margin-top: 65px;
      flex-basis: 310px;
      background-position: center;
      background-size: contain;
    }
  }
}

@media (max-width: $adaptive-width-tablet) {
  .footer {
    &__info-container {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      row-gap: 40px;
      padding: 0px;
      padding-top: 30px;
    }

    &__dog {
      margin-top: 40px;
      flex-basis: 269px;
    }
  }

  .footer-info {
    &__row {
      justify-content: center;
    }

    &__title {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-size: 25px;
      line-height: 32px;
      max-width: 270px;
    }
  }

  .footer-info:nth-child(2) {
    .footer-info__row {
      justify-content: flex-start;
      margin-top: 47px;
    }
  }
}

@media (max-width: $adaptive-width-phone) {

}