*, ::before, ::after, h1 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: var(--main-font);
  color: var(--dark-text-color);
  background-color: var(--bg-color);
}

h1, h2, h3 {
  font-family: var(--header-font);
  font-weight: normal;
}

h1 {
  color: var(--color-primary);
}

h2 {
  color: var(--color-dark-l);
}

a {
  text-decoration: none;
  transition: 0.2s;
}

img {
  display: block;
}

ul {
  list-style: none;
}

.container {
  max-width: calc(var(--container-width) + 2 * var(--container-padding));
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

.section {
  padding-top: 80px;
  padding-bottom: 100px;

  &__header {
    margin: 0 auto;
    margin-bottom: 60px;
    font-family: var(--header-font);
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    text-align: center;
    max-width: 400px;

    &_left-aligned {
      text-align: left;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  }
}

.logo {
  display: block;
  text-decoration: none;

  &__title {
    font-family: var(--header-font);
    text-transform: capitalize;
    color: var(--color-primary);
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0.06em;
  }

  &__subtitle {
    font-family: var(--main-font);
    color: var(--color-light-xl);
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    padding-left: 4px;
    margin-top: 10px;
  }
}

.button {
  display: block;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  cursor: pointer;

  border-radius: 100px;
  padding: 0 43px;
  line-height: 48px;
  font-family: var(--header-font);
  font-size: 17px;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
  border: 2px solid var(--color-primary);
  transition: 0.2s;

  &_filled {
    padding: 0 45px;
    border: none;
    line-height: 52px;
    background-color: var(--color-primary);
  }

  &_circle {
    width: 52px;
    height: 52px;
    padding: 0px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-dark-3xl);

    svg {
      fill: var(--color-dark-3xl);
    }
  }

  &_circle-active {
    cursor: default;
    pointer-events: none;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
  }

  &_circle-inactive {
    cursor: default;
    pointer-events: none;
    background-color: transparent;
    border-color: var(--color-dark-s);

    svg {
      fill: var(--color-dark-s);
    }
  }

  &:hover {
    background-color: var(--color-primary-light);
    border-color: var(--color-primary-light);
  }
}
