$sticky-threshold: 1px;

.header {
  width: 100%;
  position: absolute;
  z-index: 8;
  top: 0;
  padding-top: 60px;
  transition: box-shadow 0.2s;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
  }
}

.header_pets {
  padding: 30px 0px;
  position: sticky;
  top: -$sticky-threshold;
  padding-top: 30px + $sticky-threshold;
  background-color: var(--color-light-xl);

  &_sticky {    
    box-shadow: 0px -5px 10px 0px var(--color-dark);
  }
  
  .logo {
    &__title {
      color: var(--color-dark-l);
    }

    &__subtitle {
      color: var(--color-dark-3xl);
    }
  }

  .header-menu {
    &__link {
      color: var(--color-dark-l);
  
      &:hover, &_active { 
        color: var(--color-light-3xl);
      }
    }
  }

  .burger {
    &__line {
      background-color: var(--color-dark);
    }
  }
}

.header-menu {
  width: 443px;
  display: flex;
  justify-content: space-between;
  height: 27px;

  &__link {
    font-family: var(--main-font);
    display: block;
    text-decoration: none;
    color: var(--color-dark-s);
    font-size: 15px;
    line-height: 24px;
    transition: 0.2s;

    &_active {
      cursor: default;
      pointer-events: none;
    }

    &_active, &:active {
      position: relative;
      
      &::after {
        content: "";
        display: block;
        height: 3px;
        width: 100%;
        position: absolute;
        z-index: 1;
        left: 0px;
        bottom: -2px;
        background-color: var(--color-primary);
      }
    }

    &:hover, &_active { 
      color: var(--color-light-l);
    }
  }

  @keyframes menuSlideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes menuSlideOut {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(100%);
      opacity: 0;
    }
  }
}

.burger {
  $hamburger-size: 30px;
  $vertical-padding: 4px;
  $line-height: 2px;
  $center: $hamburger-size / 2 - $line-height / 2;
  $third-line-top: $hamburger-size - $vertical-padding - $line-height;

  width: $hamburger-size;
  height: $hamburger-size;
  padding: $vertical-padding 0;
  display: none;
  cursor: pointer;
  z-index: 10;
  position: relative;
  background: transparent;
  border: none;
  outline: none;

  &__line {
    width: $hamburger-size;
    height: $line-height;
    background: var(--color-primary);
    position: absolute;
    left: 0px;
    transform-origin: left;

    &:nth-child(1) {
      top: $vertical-padding;         
    }

    &:nth-child(2) {
      top: $center;
    }

    &:nth-child(3) {
      top: $third-line-top;
    }
  }

  @mixin lineCenterPosition {
    transform: rotate(0deg);
    top: $center;
    left: 0px;
  }

  @mixin lineVerticalPosition {
    transform: rotate(90deg);
    left: $center;
    top: 0px;
  }

  @mixin lineStartPosition($top) {
    top: $top;
    left: 0px;
  }

  @mixin lineEndPosition($left) {
    transform: rotate(90deg);
    left: $left;
    top: 0px;
  }

  @keyframes horizontalToVerticalTopLine {
    0% { @include lineStartPosition($vertical-padding); }
    33% { @include lineCenterPosition; }
    66% { @include lineVerticalPosition; }
    100% { @include lineEndPosition($vertical-padding); }
  }
  
  @keyframes verticalToHorizontalTopLine {
    0% { @include lineEndPosition($vertical-padding); }
    33% { @include lineVerticalPosition; }
    66% { @include lineCenterPosition; }
    100% { @include lineStartPosition($vertical-padding); }
  }

  @keyframes horizontalToVerticalBottomLine {
    0% { @include lineStartPosition($third-line-top); }
    33% { @include lineCenterPosition; }
    66% { @include lineVerticalPosition; }
    100% { @include lineEndPosition($third-line-top); }
  }

  @keyframes verticalToHorizontalBottomLine {
    0% { @include lineEndPosition($third-line-top); }
    33% { @include lineVerticalPosition; }
    66% { @include lineCenterPosition; }
    100% { @include lineStartPosition($third-line-top); }
  }

  @keyframes horizontalToVerticalCentralLine {
    0%, 33% { @include lineCenterPosition; }
    66%, 100% { @include lineVerticalPosition; }
  }

  @keyframes verticalToHorizontalCentralLine {
    0%, 33% { @include lineVerticalPosition; }
    66%, 100% { @include lineCenterPosition; }
  }
}

@media (max-width: $adaptive-width-pc) {
  .header {
    padding-top: 30px;

    &_pets {
      padding-top: 30px + $sticky-threshold;
    }
  }
}

@media (max-width: $adaptive-width-tablet) {
  .header {
    &__container {
      position: relative;
      height: 60px;
    }

    &__nav {
      position: absolute;
      right: var(--container-padding);
    }

    $logo-start-position: calc(100% - (var(--container-padding) + 184px));
    $logo-end-position: calc(320px - (var(--container-padding) + 184px));
    $logo-out-position: calc(-1 * (var(--container-padding) + 184px));

    .logo {
      position: absolute;
      right: $logo-start-position;
      z-index: 2;
    }
    
    @keyframes logoRelocateToMenu {
      0% {
        opacity: 1;
        right: $logo-start-position;
      }
      50% {
        opacity: 0;
        right: 100%;
      }
      66% {
        opacity: 0;
        right: $logo-out-position;
      }
      100% {
        opacity: 1;
        right: $logo-end-position;
      }
    }
    
    @keyframes logoRelocateBack {
      0% {
        opacity: 1;
        right: $logo-end-position;
      }
      66% {
        opacity: 0;
        right: $logo-out-position;
      }
      70% {
        opacity: 0;
        right: 100%;
      }
      100% {
        opacity: 1;
        right: $logo-start-position;
      }
    }

    @keyframes overlayFadeIn {
      from {
        background: transparent;
      }
      to {
        background: rgba(0, 0, 0, 0.5);
      }
    }

    @keyframes overlayFadeOut {
      from {
        background: rgba(0, 0, 0, 0.5);
      }
      to {
        background: transparent;
      }
    }

    &__menu-container {
      display: none;
      justify-content: flex-end;
      width: auto;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      background: rgba(41, 41, 41, 0.6);
      transition: 0.4s;
    }

    &__container {
      &_show, &_hide {

        .header__menu-container {
          display: flex;
        }

        .header-menu {
          overflow-y: auto;
          display: flex;
        }
      }

      &_show {
        .logo {
          @include anim(logoRelocateToMenu, $duration: 0.6s);
        }

        .header__menu-container {
          @include anim(overlayFadeIn);
        }

        .header-menu {
          @include anim(menuSlideIn);
        }

        .burger {
          &__line:nth-child(1) {
            @include anim(horizontalToVerticalTopLine);            
          }
    
          &__line:nth-child(2) {
            @include anim(horizontalToVerticalCentralLine);
          }
    
          &__line:nth-child(3) {
            @include anim(horizontalToVerticalBottomLine);
          }
        }
      }

      &_hide {
        .logo {
          @include anim(logoRelocateBack);
        }

        .header__menu-container {
          @include anim(overlayFadeOut);
        }

        .header-menu {
          @include anim(menuSlideOut);
        }

        .burger {
          &__line:nth-child(1) {
            @include anim(verticalToHorizontalTopLine);
          }
    
          &__line:nth-child(2) {
            @include anim(verticalToHorizontalCentralLine);
          }
    
          &__line:nth-child(3) {
            @include anim(verticalToHorizontalBottomLine);
          }
        }
      }
    }
  }
  
  .header-menu {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 320px;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
    background: var(--color-dark-3xl);
    box-shadow: 5px 0px 15px 0px var(--color-dark);

    &__link {
      font-size: 32px;
      line-height: 51px;

      &_active {
        cursor: pointer;
        pointer-events: all;
      }

    }
  }

  .header_pets {
    .header-menu {
      background-color: var(--color-light-xl);
    }
  }

  .burger {
    display: block;
    margin-right: 43px;

    &_fixed {
      position: fixed;
    }
  }
}

@media (max-width: $adaptive-width-phone) {

}

@media (max-height: 560px) and (max-width: $adaptive-width-tablet) {
  .header-menu {
    row-gap: 10px;
  }
}


@media (max-height: 440px) and (max-width: $adaptive-width-tablet) {
  .header-menu {
    padding-top: 120px;
  }
}