.header {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  padding-top: 60px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu-container {
    display: flex;
    justify-content: space-between;
  }
}

.header_pets {
  padding: 30px 0px;
  position: sticky;
  background-color: var(--color-light-xl);

  .logo {
    &__title {
      color: var(--color-dark-l);
    }

    &__subtitle {
      color: var(--color-dark-3xl);
    }
  }

  .header-menu {
    &__link {
      color: var(--color-dark-l);
  
      &:hover, &_active { 
        color: var(--color-light-3xl);
      }
    }
  }
}

.header-menu {
  width: 443px;
  display: flex;
  justify-content: space-between;
  height: 27px;

  &__link {
    font-family: var(--main-font);
    display: block;
    text-decoration: none;
    color: var(--color-dark-s);
    font-size: 15px;
    line-height: 24px;
    transition: 0.2s;

    &_active {
      border-bottom: 3px solid var(--color-primary);
    }

    &:hover, &_active { 
      color: var(--color-light-l);
    }
  }
}


.burger {
  display: none;
  width: 30px;
  height: 22px;
  flex-direction: column;
  justify-content: space-between;
  
  &__line {
    width: 100%;
    height: 2px;
    background-color: var(--color-primary);
  }
}

@media (max-width: $adaptive-width-pc) {
  .header {
    padding-top: 30px;
  }
}

@media (max-width: $adaptive-width-tablet) {
  .header {
    &__container {
      justify-content: flex-end;
    }

    .logo {
      margin-right: 43px;
    }
  }

  .header-menu {
    display: none;
  }

  .burger {
    display: flex;
    margin-right: 43px;
  }
}

@media (max-width: $adaptive-width-phone) {

}