.help {

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 120px;
    row-gap: 55px;
  }

  &__list-item {
    height: 113px;

    &-icon {
      height: 60px;
      width: 100%;
      text-align: center;
      margin-bottom: 30px;
      
      img {
        display: inline-block;
        height: 100%;
      }
    }

    &-title {
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0.06em;
      color: var(--color-dark-l);
      text-align: center;
    }
  }
}

@media (max-width: $adaptive-width-pc) {
  .help {
    &__list {
      column-gap: 0px;
    }

    &__list-item {
      flex-basis: 33.33%;
    }
  }
}

@media (max-width: $adaptive-width-tablet) {
  .help {
    &__list {
      row-gap: 30px;
      justify-content: flex-start;
    }

    &__list-item {
      flex-basis: 50%;      

      &-icon {
        height: 50px;
        margin-bottom: 20px;
      }

      &-title {
        font-size: 15px;
        line-height: 17px;
      }
    }
  }
}

@media (max-width: $adaptive-width-phone) {

}