
.main-pets {
  background-color: var(--color-light-l);

  &__slider {
    margin-bottom: 60px - $pet-card-shadow-size;
    margin-top: -$pet-card-shadow-size;
  }

  &__button {
    margin: 0 auto;
    width: fit-content;
  }
}

.main-pets-slider {
  display: flex;
  overflow: hidden;

  &__prev, &__next {
    display: flex;
    align-items: center;
    flex-basis: 105px - $pet-card-shadow-size;
  }

  &__prev {
    justify-content: flex-start;
  }

  &__next {
    justify-content: flex-end;
  }

  &__container {
    height: 435px + $pet-card-shadow-size * 2;
    position: relative;
    flex-grow: 1;
    overflow: hidden;

    padding: $pet-card-shadow-size;

    &_start {
      .main-pets-slider__slide {
        &_current {
          opacity: 0.5;
        }
        &_previous {
          opacity: 1;
          transform: scale(1);
        }
      }
    }

    &_end {
      pointer-events: none;

      .main-pets-slider__slide {
        &_current, &_previous {
          transition: all ease-out 0.6s;
        }
        &_current {
          z-index: 5;
          opacity: 1;
        }
        &_previous {
          z-index: 4;
          opacity: 0;
          transform: scale(0);
        }
      }
    }
  }

  &__slide {
    position: absolute;
    left: $pet-card-shadow-size;

    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    row-gap: 30px;
  }
}


@media (max-width: $adaptive-width-pc) {
  .main-pets-slider {
    &__slide {
      justify-content: center;
    }
    
    &__prev, &__next {
      flex-basis: auto;
    }
  }
}

@media (max-width: $adaptive-width-tablet) {
}

@media (max-width: 460px) {
  .main-pets {

    &__slider {
      margin-bottom: 42px - $pet-card-shadow-size;
      padding-bottom: 71px;
    }

    .main-pets-slider {
      position: relative;
  
      &__prev, &__next {
        position: absolute;
        bottom: $pet-card-shadow-size;
      }
  
      &__prev {
        left: 58px;
      }
  
      &__next {
        right: 58px;
      }
    }
  }
}