
.main-pets {
  background-color: var(--color-light-l);

  &__slider {
    margin-bottom: 60px - $shadow-size;
    margin-top: -$shadow-size;
  }

  &__button {
    margin: 0 auto;
    width: fit-content;
  }
}

.main-pets-slider {
  display: flex;

  &__prev, &__next {
    display: flex;
    align-items: center;
    flex-basis: 105px - $shadow-size;
  }

  &__prev {
    justify-content: flex-start;
  }

  &__next {
    justify-content: flex-end;
  }

  &__slide-wrapper {
    // width: 100%;
    height: 435px + $shadow-size * 2;
    position: relative;
    flex-grow: 1;
    overflow: hidden;
  }

  &__slide-container {
    position: absolute;
    left: 0px;
    padding: $shadow-size;
    display: flex;
  }

  &__slide {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    row-gap: 30px;
    margin-right: $shadow-size;
  }
}


@media (max-width: $adaptive-width-pc) {
  .main-pets {

  }

  .main-pets-slider {
    &__slide {
      // flex-wrap: wrap;
      justify-content: center;
    }
    
    &__prev, &__next {
      flex-basis: auto;
    }
  }
}

@media (max-width: $adaptive-width-tablet) {
  .main-pets {
    &__slider {
      margin-bottom: 42px - $shadow-size;
      padding-bottom: 71px;
    }
  }

  .main-pets-slider {
    position: relative;

    &__prev, &__next {
      position: absolute;
      bottom: $shadow-size;
    }

    &__prev {
      left: 58px;
    }

    &__next {
      right: 58px;
    }
  }
}

@media (max-width: $adaptive-width-phone) {

}