.modal {
  display: none;
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100vh;
  padding: 57px 69px 10px;

  align-items: center;
  justify-content: center;

  background: rgba(41, 41, 41, 0.6);

  @keyframes modalFadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @keyframes modalFadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }

  @keyframes modalWindowFadeIn {
    from {
      opacity: 0.6;
      transform: scale(0.7);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes modalWindowFadeOut {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0.6;
      transform: scale(0.7);
    }
  }

  &_show, &_hide {
    display: flex;
  }

  &_show {
    @include anim(modalFadeIn);

    .modal__window {
      @include anim(modalWindowFadeIn);
    }
  }

  &_hide {
    @include anim(modalFadeOut);

    .modal__window {
      @include anim(modalWindowFadeOut);
    }
  }

  &__window {
    position: relative;
    display: flex;

    max-width: 900px;
    max-height: calc(100vh - 67px);
  }

  &__close-btn {
    position: absolute;

    top: -52px;
    right: -41px;

    svg {
      filter: drop-shadow(0px 0px 1px var(--color-primary-light));
    }
  }

  &__content {
    overflow: hidden;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    background-color: var(--color-light-s);
    border-radius: 9px;
  }
}

@media (hover: hover) {
  .modal__window:not(:hover) {
    .modal__close-btn {
      background-color: var(--color-primary-light);
      border-color: var(--color-primary-light);
    }
  }
}

@media (max-width: $adaptive-width-pc) {

}

@media (max-width: $adaptive-width-tablet) {
  .modal {
    padding: 57px 40px 10px;

    &__close-btn {
      right: -30px;
    }

    &__window {
      max-width: 420px;
    }
  }
}