.pet-full-card {
  width: 100%;
  height: 100%;
  display: flex;

  overflow: auto;
  scrollbar-color: var(--color-primary) var(--color-dark-xl);
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 6px;
  }
   
  &::-webkit-scrollbar-track {
    background-color: var(--color-dark-xl);
    border-radius: 3px;
  }
   
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 3px;
  }

  &__img {
    flex: 0 0 55.55%;

    img {
      width: 100%;
    }
  }

  &__text {
    padding: 50px 20px 20px 30px;
    font-family: var(--header-font);
    letter-spacing: 0.06em;
    color: var(--color-dark);
  }

  &__title {
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 10px;
  }

  &__subtitle {
    font-size: 20px;
    line-height: 23px;
  }

  &__description {
    font-size: 15px;
    line-height: 17px;
    margin: 40px 0px;
  }

  &__list {
    list-style: none;
    font-size: 15px;
    line-height: 17px;

    &-item {
      margin-bottom: 10px;

      &::before {
        content: "\2022";
        color: var(--color-primary);
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .pet-full-card {
    &__text {
      padding: 10px;
    }
  
    &__description {
      font-size: 13px;
      line-height: 14px;
      margin: 20px 0px;
    }

    &__list {
      &-item {
        margin-bottom: 6px;
      }
    }
  }
}

@media (max-width: $adaptive-width-tablet) {
  .pet-full-card {

    &__img {
      display: none;
    }
    
    &__title, &__subtitle {
      text-align: center;
    }

    &__description {
      margin-bottom: 24px;
      text-align: justify;
      letter-spacing: 0.05em;
    }

    &__list {
      &-item {
        margin-bottom: 6px;
      }
    }
  }
}