.pets {
  background-color: var(--color-light-l);
  padding-bottom: 99px;
  
  &__button {
    margin: 0 auto;
  }
}

.pets-slider {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
    column-gap: 40px;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    max-width: 340px;
    width: 100%;
  }
}

@media (max-width: $adaptive-width-pc) {
  .pets {
    padding-bottom: 76px;
  }
}

@media (max-width: $adaptive-width-tablet) {
  .pets {
    padding-bottom: 42px;
  }
}

@media (max-width: $adaptive-width-phone) {

}