<div class="header__container container">
  <a class="header__logo logo" href="#">
    <h1>QuadroShop</h1>
  </a>
  <div class="cart">
    <div class="cart__total">5</div>
    <a class="button button_special cart__link" href="#cart">Корзина</a>
  </div>
</div>