:root {
  --footer-height: 100px;
  --header-height: 100px;
  --footer-margin-top: 2rem;
  --rss-logo-size: 120px;
  --content-width: 1440px;
  --content-padding: 1rem;

  --primary-color-1: #2264D1;
  --primary-color-2: #9DC2FF;
  --primary-color-3: #2979FF;

  --secondary-color-1: #ffa500;
  --secondary-color-2: #F44336;

  --text-color-1: #000000;
  --text-color-2: #19191D;
  --text-color-3: #5E6366;
  --text-color-4: #787885;
  --text-color-5: #dddddd;
  --text-color-header: #333333;

  --bg-color: #ffffff;
  --radio-bg-color: #EBF2FF;
  --secondary-bg-color: #F7F7FA;

  --main-font-family: 'Inter', sans-serif;
  --button-font-family: 'Roboto', sans-serif;
  --special-font-family: 'Quicksand', sans-serif;
}

*, h1, h2, h3 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text-color-1);
  background: var(--bg-color);
  font-family: sans-serif;
  margin: 0;

  &.no-y-scroll {
    height: 100%;
    overflow-y: hidden;
  }
}

a {
  text-decoration: none;
  color: var(--primary-color-1);
}

ul {
  list-style: none;
}

#app {
  min-height: 100vh;
  position: relative;
  padding-bottom: calc(var(--footer-height) + var(--footer-margin-top));
}

.container {
  max-width: calc(var(--content-width) + 2 * var(--content-padding));
  padding: 0 var(--content-padding);
  margin: 0 auto;
}

.button,
.select,
.text {
  display: block;
  outline: none;
  padding: 4px 12px;
  background-color: transparent;
  line-height: 20px;
  border-radius: 4px;
  transition: 0.25s;
  cursor: pointer;
  color: var(--primary-color-1);
  font-family: var(--button-font-family);
  font-size: 0.875rem;
  font-weight: 700;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.text,
.select {
  font-weight: 400;
  color: var(--text-color-3);
  border: 1px solid var(--primary-color-2);
}

.button {
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2), 0px 4px 8px rgba(41, 121, 255, 0.2);
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;

  &_special {
    font-family: var(--special-font-family);
    font-size: 20px;
  }

  &_icon {
    font-size: 1.125rem;
    padding: 0;
    line-height: 40px;
    text-align: center;
    width: 40px;
    height: 40px;
  }

  &_disabled,
  &_inactive {
    cursor: default;
    box-shadow: none;
    color: var(--text-color-5);
    border-color: var(--text-color-5);
    pointer-events: none;
  }

  &_inactive {
    color: var(--primary-color-1);
    font-weight: 400;
  }

  &_negative {
    color: var(--secondary-color-2);
  }
  
  &_disabled.button_negative {
    color: var(--text-color-5);
  }
}

.page-title {
  font-size: 26px;
  color: var(--text-color-2);
}

@media (hover: hover) {
  .button:hover,
  .checkbox:hover {
    color: var(--secondary-color-1);
  }

  .button_disabled:hover,
  .button_inactive:hover {
    color: var(--text-color-5);
  }

  .checkbox:hover {
    border-color: var(--secondary-color-1);
  }
}

.button:active {
  color: var(--primary-color-2);
  box-shadow: none;
  border: 1px solid var(--primary-color-2)
}

@media (max-width: 550px) {
  :root {
    --rss-logo-size: 100px;
  }
}