
.products-list {
  display: flex;
  row-gap: 1rem;
  column-gap: 1rem;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;

  &_list {
    flex-direction: column;

    .products-list__item {
      width: 100%;
    }
  }

  &_grid {
    flex-direction: row;
  }

  &__item {
    flex-basis: calc((100% - 3rem) / 4);
    padding: 1rem;
  }
}


@media (max-width: 1480px) {
  .products-list {
    &__item {
      flex-basis: calc((100% - 2rem) / 3);
    }
  }
}

@media (max-width: 1200px) {
  .products-list {
    &__item {
      flex-basis: calc((100% - 1rem) / 2);
    }
  }
}

@media (max-width: 1024px) {
  .products-list {
    &__item {
      flex-basis: calc((100% - 2rem) / 3);
    }
  }
}

@media (max-width: 768px) {
  .products-list {
    &__item {
      flex-basis: calc((100% - 1rem) / 2);
    }
  }
}

@media (max-width: 520px) {
  .products-list {
    &__item {
      flex-basis: 100%;
    }
  }
}
