
<div class="main__container container">
  <aside class="main__left">
    <div class="filters">
      <ul class="filters__list filters-list"></ul>
    </div>
  </aside>
  <div class="main__right">
    <div class="products">
      <div class="products__header"></div>
      <ul class="products__list"></ul>
    </div>
  </div>
</div>  
