
<div class="main__container container">
  <aside class="main__left">
    <ul class="filters-list"></ul>
  </aside>
  <div class="main__right">
    <div class="display-filters"></div>
    <ul class="products-list"></ul>
  </div>
</div>  
