
<div class="main__container container">
  <aside class="main__left">
    <div class="filters">
      <ul class="filters__list filters-list"></ul>
    </div>
  </aside>
  <div class="main__right">
    <div class="display-filters"></div>
    <ul class="products-list"></ul>
  </div>
</div>  
