.sources {
  height: 100px;
  width: 100%;
  overflow: auto;
  font: 300 1em 'Fira Sans', sans-serif;
  position: relative;
}

.sources::before,
.sources::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 3rem;
  height: 100%;
  top: 0;
  pointer-events: none;
}

.sources::before {
  background: linear-gradient(90deg, rgba(23, 24, 28, 1) 0%, rgba(23, 24, 28, 0) 70%);
  left: 0;
}

.sources::after {
  background: linear-gradient(-90deg, rgba(23, 24, 28, 1) 0%, rgba(23, 24, 28, 0) 70%);
  right: 0;
}

.sources__wrapper {
  height: 100%;
  overflow: auto;
}

.sources__wrapper::-webkit-scrollbar {
  height: 0.5rem;

}

.sources__wrapper::-webkit-scrollbar-track {
  background-color: #333;
  border-radius: 3px;
}

.sources__wrapper::-webkit-scrollbar-thumb {
  background-color: #30c5ff;
  border-radius: 3px;
}

.sources__container {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 1rem;
  height: 100%;
  min-width: calc(100% - 2rem);
  width: fit-content;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.source__item {
  background: none;
  border: 2px solid #30c5ff;
  font: inherit;
  line-height: 1;
  padding: 1em 2em;
  color: #70d6ff;
  transition: 0.25s;
  cursor: pointer;
}

.source__item:hover,
.source__item:focus {
  border-color: #3fcc59;
  color: #69db7e;
  box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
  transform: translateY(-0.25em);
}

.source__item-name {
  font-weight: 400;
  white-space: nowrap;
}