.garage-race {

  &__container {
    
  }

  &__tracks {
    position: relative;
  }

  &__tracks-flag {
    position: absolute;
    right: 0;
    width: 65px;
    height: 100%;
    border-left: 2px solid var(--secondary-color-2);

    &::before {
      content: "🏁";
      position: absolute;
      top: -25px;
      left: -5px;
    }
  }

}