<div class="display-filters__item products-view">
  <label class="products-view__item radio">
    <input type="radio" name="products-view" value="list" checked>
    <span class="radio__icon">
      <i class="fa-solid fa-bars"></i>
    </span>
  </label>
  <label class="products-view__item radio">
    <input type="radio" name="products-view" value="table">
    <span class="radio__icon">
      <i class="fa-solid fa-table-cells-large"></i>
    </span>
  </label>
</div>