<section class="donation section container">
  <div class="donation__pets">
    <img src="<%= require('../../assets/pictures/donation-dog.png') %>" alt="donation dog">
  </div>
  <div class="donation__text">
    <h2 class="section__header section__header_left-aligned">You can also<br>make a donation</h2>
    <div class="section__content">
      <p class="donation__info">Name of the bank / Type of bank account</p>
      <div class="donation__credit-card">8380 2880 8028 8791 7435</div>
      <p class="donation__description">Legal information and lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a ipsum at libero sagittis dignissim sed ac diam. Praesent ultrices maximus tortor et vulputate. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
    </div>
  </div>
</section>