<section class="main-pets section" id="pets">
  <div class="main-pets__container container">
    <h2 class="section__header">Our friends who<br>are looking for a house</h2>
    <div class="section__content">
      <div class="main-pets__slider main-pets-slider" data-slider="root">
        <div class="main-pets-slider__prev">
          <button class="button button_circle" data-slider="prev">
            <svg width="14" height="6" viewBox="0 0 14 6" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 2V4H3V6L0 3L3 0V2H14Z"/>
            </svg>
          </button>
        </div>
        <div class="main-pets-slider__container" data-slider="container">
        </div>
        <div class="main-pets-slider__next">
          <button class="button button_circle" data-slider="next">
            <svg width="14" height="6" viewBox="0 0 14 6" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 4V2L11 2V0L14 3L11 6V4L0 4Z"/>
            </svg>
          </button>
        </div>      
      </div>
  
      <a class="main-pets__button button button_filled" href="./pets.html">Get to know the rest</a>
  
    </div>
  </div>
</section>
