<section class="main-pets section" id="pets">
  <div class="main-pets__container container">
    <h2 class="section__header">Our friends who<br>are looking for a house</h2>
    <div class="section__content">
      <div class="main-pets__slider main-pets-slider">
        <div class="main-pets-slider__prev">
          <button class="button button_circle">
            <svg width="14" height="6" viewBox="0 0 14 6" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 2V4H3V6L0 3L3 0V2H14Z"/>
            </svg>
          </button>
        </div>
        <div class="main-pets-slider__slide-wrapper">
          <div class="main-pets-slider__slide-container">
            <ul class="main-pets-slider__slide">
              <li class="main-pets-slider__list-item">
                <div class="pet-card">
                  <div class="pet-card__img-container">
                    <img src="<%= require('../../assets/pictures/pets/katrine.png') %>" alt="charly">
                  </div>
                  <h3 class="pet-card__title">Katrine</h3>
                  <button class="pet-card__button button">Learn more</button>
                </div>
              </li>
      
              <li class="main-pets-slider__list-item">
                <div class="pet-card">
                  <div class="pet-card__img-container">
                    <img src="<%= require('../../assets/pictures/pets/jennifer.png') %>" alt="charly">
                  </div>
                  <h3 class="pet-card__title">Jennifer</h3>
                  <button class="pet-card__button button">Learn more</button>
                </div>            
              </li>
      
              <li class="main-pets-slider__list-item">
                <div class="pet-card">
                  <div class="pet-card__img-container">
                    <img src="<%= require('../../assets/pictures/pets/woody.png') %>" alt="charly">
                  </div>
                  <h3 class="pet-card__title">Woody</h3>
                  <button class="pet-card__button button">Learn more</button>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="main-pets-slider__next">
          <button class="button button_circle">
            <svg width="14" height="6" viewBox="0 0 14 6" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 4V2L11 2V0L14 3L11 6V4L0 4Z"/>
            </svg>
          </button>
        </div>      
      </div>
  
      <a class="main-pets__button button button_filled" href="./pets.html">Get to know the rest</a>
  
    </div>
  </div>
</section>
