.checkbox-list {
  .checkbox {
    border: none;
    border-radius: 0;
  
    &:hover {
      .checkbox__title {
        color: var(--primary-color-1);
      }
    }
  
    &__title {
      color: var(--text-color-2);
      font-weight: 400;
    }
  }
}