<ul class="checkbox-list">
  <% Object.keys(locals.values).forEach(function(key) { %>
    <li class="checkbox-list__item">
      <label class="checkbox">
        <input type="checkbox" name="<%= locals.name %>" value="<%= key %>">
        <span class="checkbox__check"></span>
        <span class="checkbox__title"><%= key %> (<%= locals.values[key] %>)</span>
      </label>
    </li>
  <% }); %>
</ul>