.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.header h1 {
  font-size: 40px;
  font-weight: 800;
  margin: 0;
}

@media (max-width: 950px) {
  .header {
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
  }
}