.footer {
  height: 100px;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
}

.footer .copyright {
  font-size: 14px;
  color: #333;
  text-align: center;
}

.footer .copyright a {
  color: #444;
}

.footer .copyright a:hover {
  color: #555;
}

.footer .copyright:before {
  content: '©';
}

.footer__github-link {
  color: #666;
  text-decoration: none;
  transition: 0.25s;
}

.footer__github-link:hover {
  color: #777;
}

.footer__year {
  color: #666;
}

@media (max-width: 550px) {
  .footer {
    flex-direction: column;
    row-gap: 0.5rem;
    height: auto;
    padding-bottom: 1rem;
  }
}
