.switch {
  .checkbox {
    border: none;

    &:hover {
      .checkbox__title {
        color: var(--primary-color-1);
      }
    }
  
    &__title,
    &__products-number {
      color: var(--text-color-2);
      font-weight: 400;
    }
  }
  
}