.products-list {
  display: flex;
  row-gap: 1rem;
  margin-top: 2rem;
  column-gap: 1rem;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;

  &_list {
    flex-direction: column;

    .products-list__item {
      width: 100%;
    }
  }

  &_grid {
    flex-direction: row;
  }

  &__item {
    flex-basis: calc((100% - 2rem) / 3);
    padding: 1rem;
  }
}
