<input class="filter__expander" type="checkbox" name="filter-expand" value="<%= locals %>" id="<%= locals %>">
<div class="filter__expander-wrapper">
  <label class="filter__expander-label" for="<%= locals %>">
    <h2 class="filter__title"><%= locals %></h2>
  </label>
</div>
<div class="filter__content">
</div>
